/**
 * Development stylesheet.  Use this file for development purposes by adding this to your 'wp-config.php' file:
 * define( 'SCRIPT_DEBUG', true );
 * This allows you to build large-sized stylesheets with plenty notes and comments. Before releasing, compress
 * this file and replace the compressed CSS in the 'style.css' file.
 * @link http://www.cssdrive.com/index.php/main/csscompressor
 */

/* 25px base */
html,body,div,span,object,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;vertical-align:baseline;outline:none;font-size:100%;background:transparent;border:none;text-decoration:none}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}b,i,hr,u,center,menu,layer,s,strike,font,xmp{margin:0;padding:0;vertical-align:baseline;outline:none;font-size:100%;font-weight:normal;font-style:normal;background:transparent;border:none;text-decoration:none}body{line-height:25px;font-family:Georgia,Times,"Times New Roman",serif;color:#333;background:#fff}h1,h2,h3,h4,h5,h6{font-style:normal;font-weight:normal;margin:0 0 25px 0}h1{font-size:1.8em}h2{font-size:1.7em}h3{font-size:1.55em}h4{font-size:1.4em}h5{font-size:1.25em}h6{font-size:1.1em}p{margin:0 0 25px 0}ol,ul{list-style:none}ul{list-style:disc;margin:0 0 25px 2.5em}ol{list-style-type:decimal;margin:0 0 25px 3em}ol ol{list-style:upper-roman}ol ol ol{list-style:lower-roman}ol ol ol ol{list-style:upper-alpha}ol ol ol ol ol{list-style:lower-alpha}ul ul,ol ol,ul ol,ol ul{margin-bottom:0}dl{margin:0 0 25px 5px}dl dt{font-weight:bold;margin:10px 0 0 0}dl dd{margin:5px 0 0 1.5em}strong{font-weight:bold}strong strong{font-weight:normal}em,cite{font-style:italic}em em,cite cite{font-style:normal}abbr{cursor:help}acronym{text-transform:uppercase;border-bottom:1px dashed #666;cursor:help}big{font-size:120%}small,sup,sub{font-size:80%}sup{vertical-align:baseline;position:relative;bottom:0.3em}sub{vertical-align:baseline;position:relative;top:0.3em}address{font-style:italic;margin:0 0 25px 0}li address,dd address{margin:0}blockquote{margin:0 25px;font-style:normal}blockquote em,blockquote cite{font-style:italic}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}a{cursor:pointer}a img{border:none}pre{overflow:auto;font:.9em Monaco,monospace,Courier,"Courier New";line-height:25px;margin-bottom:25px;padding:10px}code{font:.9em Monaco,monospace,Courier,"Courier New"}pre code{font-size:1em}ins,dfn{font-style:italic;text-decoration:none;border-bottom:1px solid #666}del,s,strike{text-decoration:line-through}object{margin-bottom:25px}input,textarea{font-size:1em;padding:3px}input[type="submit"]{cursor:pointer}:focus{outline:none}form label{cursor:pointer}option{padding:1px 2px}table{border-collapse:collapse;border-spacing:0;margin-bottom:25px}th,td{text-align:left}hr{height:1px;margin-bottom:25px;background:#333}img.wp-smiley{max-height:12px;margin:0;padding:0;border:none}.gallery{display:block;text-align:center;margin-bottom:25px}.alignleft,.left{float:left;margin-right:20px}.alignright,.right{float:right;margin-left:20px}.aligncenter,.center{display:block;margin:0 auto 25px auto}.alignnone,.block{clear:both;margin:0 0 25px 0}.clear{clear:both}img.alignleft,img.alignright{display:inline}blockquote.alignleft,blockquote.alignright{width:33%}

/* Drop-downs */
div.menu ul,nav.menu ul{margin:0;padding:0;list-style:none;line-height:1.0}div.menu ul ul,nav.menu ul ul{position:absolute;top:-999em;width:10em}div.menu ul ul li,nav.menu ul ul li{width:100%}div.menu li:hover,nav.menu li:hover{visibility:inherit}div.menu li,nav.menu li{float:left;position:relative}div.menu a,nav.menu a{display:block;position:relative}div.menu li:hover ul,div.menu li.sfHover ul,nav.menu li:hover ul,nav.menu li.sfHover ul{left:0;top:2em;z-index:99}div.menu li:hover li ul,div.menu li.sfHover li ul,nav.menu li:hover li ul,nav.menu li.sfHover li ul{top:-999em}div.menu li li:hover ul,div.menu li li.sfHover ul,nav.menu li li:hover ul,nav.menu li li.sfHover ul{left:10em;top:0}div.menu li li:hover li ul,div.menu li li.sfHover li ul,nav.menu li li:hover li ul,nav.menu li li.sfHover li ul{top:-999em}div.menu li li li:hover ul,div.menu li li li.sfHover ul,nav.menu li li li:hover ul,nav.menu li li li.sfHover ul{left:10em;top:0}

/* Galleries */
.gallery{display:block;clear:both;overflow:hidden;margin:0 auto}.gallery .gallery-row{display:block;clear:both;overflow:hidden;margin:0}.gallery .gallery-item{overflow:hidden;float:left;margin:0;text-align:center;list-style:none;padding:0}.gallery .gallery-item .gallery-icon img{width:auto;max-width:89%;height:auto;padding:1%;margin:0 auto}.gallery-caption{margin-left:0}.gallery .col-0{width:100%}.gallery .col-1{width:100%}.gallery .col-2{width:50%}.gallery .col-3{width:33.33%}.gallery .col-4{width:25%}.gallery .col-5{width:20%}.gallery .col-6{width:16.66%}.gallery .col-7{width:14.28%}.gallery .col-8{width:12.5%}.gallery .col-9{width:11.11%}.gallery .col-10{width:10%}.gallery .col-11{width:9.09%}.gallery .col-12{width:8.33%}.gallery .col-13{width:7.69%}.gallery .col-14{width:7.14%}.gallery .col-15{width:6.66%}.gallery .col-16{width:6.25%}.gallery .col-17{width:5.88%}.gallery .col-18{width:5.55%}.gallery .col-19{width:5.26%}.gallery .col-20{width:5%}.gallery .col-21{width:4.76%}.gallery .col-22{width:4.54%}.gallery .col-23{width:4.34%}.gallery .col-24{width:4.16%}.gallery .col-25{width:4%}.gallery .col-26{width:3.84%}.gallery .col-27{width:3.7%}.gallery .col-28{width:3.57%}.gallery .col-29{width:3.44%}.gallery .col-30{width:3.33%}

/* Fonts */
@font-face {
	font-family: 'Yanone Kaffeesatz';
		src: url('fonts/yanone-kaffeesatz/yanonekaffeesatz-regular-webfont.eot');
		src: url('fonts/yanone-kaffeesatz/yanonekaffeesatz-regular-webfont.eot?#iefix') format('embedded-opentype'),
		url('fonts/yanone-kaffeesatz/yanonekaffeesatz-regular-webfont.woff') format('woff'),
		url('fonts/yanone-kaffeesatz/yanonekaffeesatz-regular-webfont.ttf') format('truetype'),
		url('fonts/yanone-kaffeesatz/yanonekaffeesatz-regular-webfont.svg#YanoneKaffeesatzRegular') format('svg');
	font-weight: normal;
	font-style: normal;
	}

/* Layout */

#menu-primary, 
#menu-subsidiary {
	height: 40px;
	}
#menu-primary div.menu, 
#menu-subsidiary div.menu {
	width: 1050px;
	margin: 0 auto;
	}
#header, 
#footer {
	width: 960px;
	margin: 37px auto;
	}
#main {
	width: 950px;
	margin: 0 auto;
	padding: 50px 50px 25px 50px;
	}
#content {
	float: left;
	width: 600px;
	}
.layout-1c #content {
	width: 100%;
	}
.layout-2c-r #content {
	float: right;
	}
#sidebar-primary {
	float: right;
	width: 275px;
	}
.layout-2c-r #sidebar-primary {
	float: left;
	}


/* End layout */

/* Begin elements */

/* Links */
a {
	color: #c33;
	}
a:hover {
	text-decoration: underline;
	}


/* Headers */
h1, h2, h3, h4, h5, h6 {
	font-family: 'Yanone Kaffeesatz', Arial, sans-serif;
	font-weight: bold;
	}

/* Quotes */
blockquote {
	margin: 0;
	padding: 19px 25px 1px 65px;
	color: #757575;
	line-height: 1.5em;
	font-size: 1.05em;
	color: #959595;
	background: url(images/quotes.png) no-repeat;
	}
blockquote blockquote {
	margin: 0 25px;
	padding: 0 0 0 25px;
	line-height: 1.4em;
	font-size: 1em;
	color: #a5a5a5;
	background: transparent;
	border-left: 1px solid #d5d5d5;
	}
blockquote blockquote blockquote {
	font-size: .95em;
	color: #b5b5b5;
	border-color: #e5e5e5;
	}

/* Acronyms and abbreviations */
abbr,
acronym {
	border-bottom: 1px dotted #858585;
	}

/* Code */
code {
	font-size: .9em;
	color: #050505;
	background: #e5e5e5;
	}
pre {
	padding: 25px;
	}
pre, pre code {
	color: #b5b5b5;
	background: #252525;
	}

/* Tables */
table {
	margin: 0 0 25px 0;
	width: 100%;
	border-left: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
	}
table caption {
	font: normal normal normal 13px/25px Arial, Verdana, sans-serif;
	text-align: center;
	}
table th {
	font: normal normal bold 13px/25px Arial, Verdana, sans-serif;
	padding: 4px 2%;
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
	text-align: left;
	}
td {
	padding: 4px 2%;
	border-bottom: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
	}

/* Alignment */
.alignleft {
	margin-right: 25px;
	}
.alignright {
	margin-left: 25px;
	}

/* Images */

/* Post images. */
.hentry img {
	max-width: 580px;
	height: auto;
	padding: 9px;
	background: #f5f5f5;
	border: 1px solid #e5e5e5;
	}
.layout-1c .hentry img {
	max-width: 930px;
	}
.hentry a:hover img {
	box-shadow: 2px 2px 2px #858585;
	}

/* Post thumbnails */
.hentry .thumbnail {
	float: right;
	max-width: 150px;
	max-height: 150px;
	margin: 0 0 25px 25px;
	}

/* Avatars */
.avatar {
	padding: 4px;
	background: #f5f5f5;
	border: 1px solid #e5e5e5;
	}

/* Captions */
.wp-caption {
	max-width: 600px;
	}
.layout-1c .wp-caption {
	max-width: 950px;
	}
.wp-caption-text {
	margin: -10px auto 0;
	padding: 10px;
	font: normal normal normal 12px/25px Arial, sans-serif;
	text-align: center;
	color: #959595;
	}

/* Gallery images. */
.gallery {
	margin: 0;
	}
.gallery .gallery-row {
	margin: 0 0 25px !important;
	}
.gallery .gallery-item .gallery-icon {
	margin: 0;
	}
.gallery .gallery-item .gallery-icon img {
	padding: 1px;
	background: #f5f5f5;
	border: 1px solid #e5e5e5;
	}
.galery .col-1 .gallery-icon img,
.gallery .col-2 .gallery-icon img,
.gallery .col-3 .gallery-icon img,
.layout-1c .gallery .col-4 .gallery-icon img,
.layout-1c .gallery .col-5 .gallery-icon img {
	padding: 9px;
	}
.gallery .col-4 .gallery-icon img {
	padding: 4px;
	}
.singular-attachment .gallery .col-5 .gallery-icon img {
	padding: 2px;
	}
.gallery .gallery-item .gallery-icon a:hover img {
	box-shadow: 2px 2px 2px #858585;
	}
.gallery .gallery-item .gallery-caption {
	margin: 0 !important;
	font: normal normal normal 12px/25px Arial, sans-serif;
	color: #959595;
	}
.attachment-image #content .gallery-caption {
	display: none;
	}

/* Menus */
#menu-primary,
#menu-subsidiary {
	background: #151515;
	border-bottom: 5px solid #222;
	}
#menu-subsidiary {
	border-top: 5px solid #222;
	border-bottom: none;
	}
#menu-primary li,
#menu-subsidiary li {
	margin: 0;
	}
#menu-primary a,
#menu-subsidiary a {
	padding: 15px 20px 14px 20px;
	font: normal normal bold 11px/11px Arial, sans-serif;
	text-transform: uppercase;
	}
#menu-primary li a,
#menu-primary li li a,
#menu-primary li.sfHover li a,
#menu-subsidiary li a {
	color: #959595;
	}
#menu-primary li a:hover,
#menu-primary li.sfHover a,
#menu-primary li li a:hover,
#menu-subsidiary li a:hover {
	color: #e5e5e5;
	background: #050505;
	}
#menu-primary li.current-menu-item a,
#menu-subsidiary li.current-menu-item a {
	background: #050505;
	}

#menu-primary ul ul {
	padding: 0 0 15px;
	background: #050505;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	}
#menu-primary li li a {
	margin: 0 20px;
	padding: 15px 10px;
	font-size: 12px;
	font-weight: normal;
	text-transform: none;
	border-bottom: 1px dotted #202020;
	}


/* Drop-down styles */
#menu-primary li:hover ul, 
#menu-primary li.sfHover ul {
	top: 40px;
	}
#menu-primary li:hover li ul, 
#menu-primary li.sfHover li ul {
	top: -999em;
	}
#menu-primary li li:hover ul, 
#menu-primary li li.sfHover ul {
	top: 0;
	}

/* Drop-down indicator */
#menu-primary li .sf-sub-indicator {
	position: absolute;
	top: 19px;
	right: 7px;
	width: 5px;
	height: 3px;
	text-indent: -9999em;
	background: url(images/menu-arrows.png) no-repeat 0 0;
	}
#menu-primary li:hover .sf-sub-indicator,
#menu-primary li.sfHover .sf-sub-indicator {
	background-position: 0 -3px;
	}
#menu-primary li li .sf-sub-indicator,
#menu-primary li.sfHover li .sf-sub-indicator,
#menu-primary li li:hover li .sf-sub-indicator,
#menu-primary li li.sfHover li .sf-sub-indicator  {
	width: 3px;
	height: 5px;
	background-position: 0 -6px;
	}
#menu-primary li li:hover .sf-sub-indicator,
#menu-primary li li.sfHover .sf-sub-indicator,
#menu-primary li li:hover li:hover .sf-sub-indicator,
#menu-primary li li li.sfHover .sf-sub-indicator {
	background-position: 0 -11px;
	}

/* Header */
#site-title,
#site-description {
	float: left;
	}
#site-title {
	margin: 0;
	line-height: 40px;
	font-family: 'Yanone Kaffeesatz', Arial, sans-serif;
	font-size: 40px;
	font-weight: bold;
	text-shadow: 2px 2px #050505;
	}
#site-title a {
	color: #fff;
	}
#site-description {
	float: left;
	margin: 10px 0 0 20px;
	font-family: Georgia, serif;
	font-size: 14px;
	font-style: italic;
	font-weight: normal;
	color: #959595;
	text-shadow: 1px 1px #050505;
	}

/* Header Image */
.header-image {
	display: block;
	width: 1050px;
	margin: 0 auto 25px;
	border: 5px solid #151515;
	}

/* Main */
#main {
	color: #454545;
	background: #fff;
	border: 5px solid #151515;
	}

/* Breadcrumbs */
.breadcrumb-trail {
	margin: 0 0 50px;
	font-family: 'Yanone Kaffeesatz', Arial, sans-serif;
	}
.breadcrumbs .trail-before {
	margin-right: 7px;
	}
.breadcrumbs .sep {
	display: inline-block;
	width: 3px;
	height: 25px;
	margin: 0 7px;
	text-indent: -9999em;
	background: url(images/breadcrumb-sep.png) no-repeat 0 11px;
	}
.breadcrumb-trail .trail-end {
	color: #a5a5a5;
	}


/* Posts */
.hentry {
	margin: 0 0 25px;
	}

.entry-content {
	clear: both;
	}
.layout-1c .entry-content {
	font-size: 17px;
	}

.entry-summary p {
	margin: 0 0 10px;
	}

/* Post titles */
.post .entry-title,
.singular-post .post .entry-title {
	margin: 0 0 10px;
	}
.format-image .entry-title {
	margin: 0 0 25px;
	}
.entry-title a {
	color: #454545;
	}

/* Post bylines and meta */
.byline, 
.singular .byline,
.entry-meta {
	margin: 0 0 25px;
	font: normal normal normal 12px/25px Arial, sans-serif;
	color: #858585;
	}
.byline {
	margin: 0 0 10px;
	}
.singular .entry-meta {
	clear: both;
	}

.entry-meta .category,
.entry-meta .post_tag {
	display: block;
	}

/* Gallery image count. */
.format-gallery .image-count {
	font-style: italic;
	font-size: .9em;
	color: #757575;
	}

/* End posts */

/* Image attachment pages */
.attachment-image .entry-title {
	float: left;
	width: 50%;
	}
.attachment-image .byline {
	float: right;
	width: 50%;
	text-align: right;
	}
.attachment-image .byline .image-size-link,
.attachment-image .byline .sep {
	margin-left: 5px;
	}
.attachment-meta {
	margin: 0 0 25px;
	}
.attachment-meta .image-info {
	float: left;
	width: 350px;
	padding-right: 50px;
	}
.attachment-meta .image-gallery {
	float: right;
	width: 550px;
	}
.attachment-meta ul {
	list-style-position: inside;
	margin-left: 0;
	font-size: 13px;
	font-style: italic;
	color: #959595;
	}
.attachment-meta li {
	padding-bottom: 5px;
	margin-bottom: 5px;
	border-bottom: 1px dotted #e5e5e5;
	}
.attachment-meta .image-data {
	float: right;
	text-align: right;
	}
.attachment-meta .image-info .prep {
	font: normal normal bold 12px/25px Arial, sans-serif;
	text-transform: uppercase;
	color: #252525;
	}

/* Loop meta */
.loop-meta {
	margin: 0 0 25px;
	}
.loop-description {
	font-size: 15px;
	font-style: italic;
	color: #858585;
	}
.loop-description em {
	font-style: normal;
	}

/* Pagination */

.loop-pagination,
.loop-nav,
.page-links {
	clear: both;
	margin: 0 0 25px;
	}
.page-links {
	padding: 12px 0 0;
	}

.page-numbers,
.page-links a,
.loop-nav a {
	margin: 0 12px 0 0;
	padding: 10px 15px;
	font: normal normal bold 12px/12px Arial, sans-serif;
	color: #e5e5e5;
	background: #353535;
	border-radius: 5px;
	}
.singular .loop-nav {
	padding-top: 25px;
	}
.page-links a {
	margin: 0 3px;
	padding: 6px 10px;
	}
.page-numbers.current,
a.page-numbers:hover,
.page-links a:hover {
	background: #050505;
	}
.loop-pagination .meta-nav,
.loop-nav .meta-nav {
	font-size: 13px;
	}
.loop-nav a[rel="prev"] {
	float: left;
	}
.loop-nav a[rel="next"] {
	float: right;
	text-align: right;
	}

/* Comment pagination */
.comments-nav {
	float: right;
	position: relative;
	margin: -55px 0 0;
	}
.comments-nav .page-numbers {
	margin: 0 15px;
	padding: 0;
	font-size: 10px;
	text-transform: uppercase;
	color: #858585;
	background: transparent;
	}
.comments-nav .prev, 
.comments-nav .next {
	font-style: italic;
	font-size: .9em;
	}

/* Sidebar primary */
#sidebar-primary {
	font-size: 14px;
	color: #555;
	}
#sidebar-primary .widget {
	margin: 0 0 25px;
	}
#sidebar-primary .widget-title {
	}
#sidebar-primary .widget ul {
	margin-left: 25px;
	}

/* End sidebar primary */

/* Search widget */
.widget-search {
	padding-bottom: 25px !important;
	}
.widget-search input[type="text"] {
	display: block;
	width: 94%;
	padding: 5px 3%;
	text-indent: 5px;
	font: italic normal normal 14px/25px Georgia, Times, 'Times New Roman', serif;
	color: #a5a5a5;
	background: #353535;
	border: none;
	}
.widget-search input[type="text"]:focus {
	background: #252525;
	}
.widget-search input[type="submit"], .widget-search label {
	display: none;
	}

/* Comments */

.comments-closed {
	font-style: italic;
	color: #757575;
}

ol.comment-list,
ol.comment-list ol.children {
	list-style: none;
	margin: 0 0 50px;
	}
ol.comment-list ol.children {
	padding: 0;
	margin: 0 -25px 0 0;
	}
.comment-meta a,
.comment-text a {
	color: #fff;
	}

li.comment,
li.pingback,
li.trackback {
	margin: 0 0 25px;
	padding: 25px 25px 0 25px;
	color: #a5a5a5;
	background: #252525;
	}

li li.comment { background: #353535; }
li li li.comment { background: #454545; }
li li li li.comment { background: #555; }
li li li li li.comment { background: #606060; }
li li li li li li.comment { background: #656565; }

.comment-meta {
	margin: 0 0 25px;
	font: normal normal normal 12px/25px Arial, sans-serif;
	}

.comment-author {
	display: block;
	}
.comment-author cite {
	font: normal normal normal 16px/25px 'Yanone Kaffeesatz', Arial, sans-serif;
	}

li.comment .avatar {
	float: left;
	width: 40px;
	height: 40px;
	margin: 0 25px 0 0;
	padding: 0;
	border: 5px solid #151515;
	}

.comment-text {
	font-size: 15px;
	}

/* Comment form */
#respond {
	margin: 0 0 25px;
	}

#respond label {
	font: normal normal bold 13px/25px Arial, sans-serif;
	}
#respond label .required {
	font-family: Georgia, serif;
	font-size: 18px;
	color: #c33;
	}
#respond input[type="text"],
#respond textarea {
	display: block;
	padding: 5px 10px;
	font: normal normal normal 15px/25px Georgia, serif;
	color: #656565;
	background: #f5f5f5;
	border: 1px solid #e5e5e5;
	}
#respond textarea {
	width: 100%;
	height: 200px;
	padding: 10px;
	box-sizing: border-box;
		-webkit-box-sizing:border-box;
		-moz-box-sizing: border-box;
		-ms-box-sizing: border-box;
	}
li #respond textarea {
	width: 95%;
	}
#respond input[type="text"]:focus,
#respond textarea:focus {
	color: #353535;
	background: #fff;
	border-color: #d5d5d5;
	}

#respond #submit {
	padding: 10px 15px;
	font: normal normal bold 12px/12px Arial, sans-serif;
	color: #e5e5e5;
	background: #353535;
	border: none;
	border-radius: 5px;
	}
#respond #submit:hover {
	background: #050505;
	}

/* Footer */

#footer {
	width: 950px;
	margin: 37px auto 12px;
	font-size: 14px;
	color: #959595;
	text-shadow: 1px 1px #050505;
	}
#footer a {
	color: #fff;
	}
#footer .copyright {
	float: left;
	width: 50%;
	}
#footer .credit {
	float: right;
	width: 50%;
	text-align: right;
	}

/* Gallery page template. */
.page-template-gallery.home .breadcrumb-trail {
	display: none;
	}
.page-template-gallery .gallery:first-child {
	margin-bottom: 25px;
	}
.page-template-gallery .gallery-title {
	text-align: left;
	}
.page-template-gallery .gallery-title a {
	font: italic normal normal .5em/25px Georgia, Times, 'Times New Roman', serif;
	font-size: .4em;
	}

/* Clearfix */
.clearfix:after,
#main:after,
#header:after,
#footer:after,
.widget:after,
.hentry:after,
.attachment-meta:after,
.loop-meta:after,
.loop-nav:after,
li.comment:after, li.pingback:after, li.trackback:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
	}